option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
    # App-specific environment variables
    MONGODB_URI: "mongodb+srv://pos:857v1O03zVbR94Hf@db-bath-mongo-35cc9574.mongo.ondigitalocean.com/staging?authSource=admin"
    JWT_SECRET: "9+xiwSSxdCm+KBttrfeGlbnizZTWYPJswDhsj/d/+wY="
    HOST: "https://cultcha.app"
    STRIPE_PUB_KEY: "sk_test_51RXCG6H0DYvVUxcGPKD3LfR7iUwAbP9jUZC0YqmyZ9Bcw3unA7HE4sBc0TE5QbH0Cxx3o1mkL6dFGn0f4teQ4jCx00cInaNoH3"
    STRIPE_SECRET_KEY: "sk_test_51RXCG6H0DYvVUxcGPKD3LfR7iUwAbP9jUZC0YqmyZ9Bcw3unA7HE4sBc0TE5QbH0Cxx3o1mkL6dFGn0f4teQ4jCx00cInaNoH3"
    NEXT_PUBLIC_API_BASE_URL: "https://cultcha.app"
    NEXT_PUBLIC_DOMAIN: "https://cultcha.app"
    GOOGLE_APP_PASS: "xiar krox litn vceg"
    GOOGLE_APP_USER: "mbathie@gmail.com"